# URL publique Vercel, ex: https://dead-line.vercel.app
NEXT_PUBLIC_APP_URL=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Firebase Admin / RTDB
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_DATABASE_URL=https://xxxx-default-rtdb.europe-west1.firebasedatabase.app

# MVP simple : clé admin locale pour éviter auth au début
DEADLINE_ADMIN_KEY=change-moi
